body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form-container {
    padding: 10px;
    background-color: #f4f4f4;
    display: flex;
    gap: 10px;
    align-items: center;
}

#search-container {
    padding: 10px;
    background-color: #e2e2e2;
    display: flex;
    gap: 10px;
    align-items: center;
}

#map-container {
    position: relative;
}

#map {
    height: 500px;
    width: 100%;
    border: 1px solid #ddd;
    display: block;
}

#location-list {
    max-height: 300px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.location-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#toggle-map-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000; /* לוודא שהכפתור מעל כל האלמנטים */
}

#geocode-btn, #search-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* עיצוב לכפתור מחיקה */
.delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: #c82333;
}
